@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --color-accent: #2c2c2c;
  --color-primary: #af0d11;
  --font-header: 'Bebas Neue', 'sans-serif';
}

:focus-visible {
  @apply outline-dashed outline-2 outline-offset-4 outline-primary;
}

.btn {
  @apply cursor-pointer px-8 py-4 rounded-xl hover:scale-105;
}

.btn.btn-danger {
  @apply bg-rose-500 hover:bg-rose-600 text-white;
}

.btn.btn-success {
  @apply bg-emerald-500 hover:bg-green-600 text-white;
}

.filter {
  @apply bg-white hover:bg-accent border border-accent cursor-pointer font-medium h-10 px-4 py-2 ring-offset-white rounded-md text-sm hover:text-white transition-colors whitespace-nowrap;
}

.filter.active {
  @apply bg-primary border-primary text-white;
}

.tile {
  @apply cursor-pointer duration-300 flex flex-col h-full items-center justify-between p-6 rounded-md shadow-md hover:shadow-lg transform transition-transform hover:-translate-y-1;
}

.tile h2 {
  @apply font-medium text-center text-xl;
}

.tile span {
  @apply mb-4 text-5xl;
}

.tile-game {
  @apply bg-white hover:bg-gray-50 text-gray-800;
}

.tile-random {
  @apply bg-primary hover:bg-primary/90 text-white;
}
