---
import { getCollection } from 'astro:content'
import { Schema } from 'astro-seo-schema'
import site from '../data/site'
import { getListLdJson } from '../lib/schema'
import Layout from '../layouts/Layout.astro'
import Filters from '../components/Filters.astro'
import GameGrid from '../components/GameGrid.astro'

const games = await getCollection('games')
games.sort((a, b) => a.data.name.localeCompare(b.data.name))

const filters = [
  ...new Set(games.flatMap((game) => game.data.tags))
].sort()

const itemListElement = games
  .map((game, index: number) => {
    return {
      ...getListLdJson(Astro.site, game),
      position: index + 1,
    }
  })
---
<Layout>
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'CollectionPage',
      name: site.meta.name,
      description: site.meta.description,
      url: Astro.url.href,
      mainEntity: {
        '@type': 'ItemList',
        itemListElement: itemListElement,
      }
    }}
    slot="schema"
  />

  <section class="max-w-none prose prose-lg">
    <h1>Juegos para Fortalecer Equipos</h1>
    <p>Descubre una variedad de juegos de trabajo en equipo diseñados para mejorar la comunicación, elevar la moral y fomentar la colaboración entre los miembros de su equipo. Ya sea que estéis en la oficina o trabajando de forma remota, estas actividades ayudarán a crear un entorno de trabajo más cohesionado y productivo.</p>

    <Filters filters={filters} />
    <GameGrid games={games} />
  </section>
</Layout>
