---
const { filters } = Astro.props
---

<div class="flex flex-wrap gap-2 mb-6">
  <button
    class="filter active"
    data-filter=""
  >Todos</button>
  {filters.map((filter: string) => (
    <button
      class="filter"
      data-filter={filter}
    >{filter}</button>
  ))}
</div>
