---
import { getCollection } from 'astro:content'
import site from '../data/site'

const legals = await getCollection('legals')
const year = new Date().getFullYear()
---
<footer class="border-gray-200 border-t py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-sm">
    <p class="mb-4">
      &copy; {year} {site.chef.name}. Todos los derechos reservados.
    </p>

    <ul class="flex flex-row gap-4 items-center justify-center">
      {legals.map((legal: any) => (
        <li>
          <a href={`/legal/${legal.slug}`}>{legal.data.name}</a>
        </li>
      ))}
    </ul>
  </div>
</footer>
