---
import Shuffle from '../assets/shuffle.svg'
---

<button
  aria-label="Jugar aleatoriamente"
  class="tile tile-random"
  title="Jugar aleatoriamente"
>
  <Shuffle class="h-16 mb-4 w-16" />
  <h2>Aleatorio</h2>
</button>
