---
import Shuffle from '../assets/shuffle.svg'
---

<button
  aria-label="Jugar aleatoriamente"
  class="tile tile-random"
  title="Jugar aleatoriamente"
>
  <Shuffle />
  <h2>Aleatorio</h2>
</button>
