---
import { site } from '../data/site'
---
<header class="border-b border-gray-200 py-4">
  <div class="flex items-center justify-between max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <a
      class="font-header text-4xl text-primary"
      href="/"
      title="Inicio"
    >{site.name}</a>
  </div>
</header>
