---
import games from '../data/games'
import type Game from '../models/Game'
import Tile from './Tile.astro'
import TileRandom from './TileRandom.astro'
---
<div class="gap-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 not-prose">
  <TileRandom />

  {games.map((item: Game) => (
    <Tile item={item} />
  ))}
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const gameTiles = document.querySelectorAll('.tile-game')
    const randomTile = document.querySelector('.tile-random') as HTMLElement

    if (0 === gameTiles.length) {
      return
    }

    randomTile.addEventListener('click', (e) => {
      e.preventDefault()

      const randomIndex = Math.floor(Math.random() * gameTiles.length)
      const selectedTile = gameTiles[randomIndex] as HTMLElement

      selectedTile.click()
    })
  })
</script>
