---
import games from '../data/games'
import type Game from '../models/Game'
import Tile from './Tile.astro'
import TileRandom from './TileRandom.astro'
---
<div class="gap-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 not-prose">
  <TileRandom />

  {games.map((item: Game) => (
    <Tile item={item} />
  ))}
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const doFilter = () => {
      const buttons = document.querySelectorAll('.filter')
      const gameTiles = document.querySelectorAll('.tile-game')

      if (0 === buttons.length || 0 === gameTiles.length) {
        return
      }

      buttons.forEach(button => {
        button.addEventListener('click', (e) => {
          e.preventDefault()

          const filter = button.dataset.filter
          buttons.forEach(btn => btn.classList.remove('active'))
          button.classList.add('active')

          gameTiles.forEach(tile => {
            const tags = tile.dataset.tags.split(',')
            if ('' === filter || tags.includes(filter)) {
              tile.style.display = ''
            } else {
              tile.style.display = 'none'
            }
          })
        })
      })
    }

    const doRandomSelect = () => {
      const gameTiles = document.querySelectorAll('.tile-game')
      const randomTile = document.querySelector('.tile-random') as HTMLElement

      if (0 === gameTiles.length) {
        return
      }

      randomTile.addEventListener('click', (e) => {
        e.preventDefault()

        const randomIndex = Math.floor(Math.random() * gameTiles.length)
        const selectedTile = gameTiles[randomIndex] as HTMLElement

        selectedTile.click()
      })
    }

    doFilter()
    doRandomSelect()
  })
</script>
