---
import type Game from '../models/Game'
import Tile from './Tile.astro'
import TileRandom from './TileRandom.astro'

const { games } = Astro.props
---
<div class="gap-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 not-prose">
  <TileRandom />

  {games.map((item: Game) => (
    <Tile item={item} />
  ))}
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const doFilter = () => {
      const buttons = document.querySelectorAll('.filter')
      const gameTiles = document.querySelectorAll('.tile-game')

      if (0 === buttons.length || 0 === gameTiles.length) {
        return
      }

      buttons.forEach((button: Element) => {
        button.addEventListener('click', (e: Event) => {
          e.preventDefault()

          const filter = (button as HTMLElement).dataset.filter
          buttons.forEach((btn: Element) => btn.classList.remove('active'))
          button.classList.add('active')

          gameTiles.forEach((tile: Element) => {
            const tags = (tile as HTMLElement).dataset.tags!.split(',')
            if (!filter || '' === filter || tags.includes(filter)) {
              (tile as HTMLElement).style.display = ''
            } else {
              (tile as HTMLElement).style.display = 'none'
            }
          })
        })
      })
    }

    const doRandomSelect = () => {
      const randomTile = document.querySelector('.tile-random') as HTMLElement

      randomTile.addEventListener('click', (e) => {
        e.preventDefault()

        const gameTiles = Array
          .from(document.querySelectorAll('.tile-game'))
          .filter((el: Element) => 'none' !== getComputedStyle(el).display)

        if (0 === gameTiles.length) {
          return
        }

        const randomIndex = Math.floor(Math.random() * gameTiles.length)
        const selectedTile = gameTiles[randomIndex] as HTMLElement

        selectedTile.click()
      })
    }

    doFilter()
    doRandomSelect()
  })
</script>
