---
import Shuffle from '../assets/shuffle.svg'
---

<a
  aria-label="Jugar aleatoriamente"
  class="tile tile-random"
  href="#"
  title="Jugar aleatoriamente"
>
  <div>
    <Shuffle />
    <h2>Aleatorio</h2>
  </div>
</a>
