---
import '@fontsource/bebas-neue'
import '@fontsource-variable/oswald'

import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'

const { title } = Astro.props
---
<!doctype html>
<html lang="es">
  <Head title={title} />
  <body class="bg-gray-100 flex flex-col min-h-screen selection:bg-primary selection:text-white">
    <Header />
    <main class="flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
